<div class="container" style="max-width: 400px; margin: auto;">
    <div class="col-12">
        <div class="col-12">
            <h1>Login</h1>
        </div>

        <form name="form" #form="ngForm" ngForm (ngSubmit)="login()">
            <div class="col-12 p-fluid">
                <label>E-mail</label>
                <input type="email" placeholder="Digite seu E-mail" pInputText [required]="true" name="email"
                    [(ngModel)]="loginForm.email" #email="ngModel">

                <p-message *ngIf="email.hasError('required') && email.touched" text="E-mail é obrigatório"
                    severity="error"></p-message>
            </div>

            <div class="col-12 p-fluid">
                <label>Senha</label>
                <input type="password" placeholder="Digite sua Senha" pInputText [required]="true" name="password"
                    [(ngModel)]="loginForm.password" #password="ngModel">

                <p-message *ngIf="password.hasError('required') && password.touched" text="Senha é obrigatória"
                    severity="error"></p-message>
            </div>

            <button class="ml-2" type="submit" pButton [disabled]="form.invalid">Login</button>
        </form>
    </div>
</div>