.p-button {
    margin-right: .25em
}

div a {
    text-decoration: none;
    color: #337ab7;
}

.col-actions {
    width: 120px;
    text-align: center !important;
}

.col-actions .p-button {
    margin: 1px;
}