<div class="container">
    <form name="form" #form="ngForm" ngForm>
        <div class="grid">
            <div class="col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="col-12">
                <p-selectButton [options]="types" #type></p-selectButton>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" name="dueDate" ngModel
                    #dueDate="ngModel" [required]="true" [showButtonBar]="true"></p-calendar>

                <p-message *ngIf="dueDate.hasError('required') && dueDate.touched" text="Informe a data de vencimento"
                    severity="error"></p-message>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>{{type.value === 'INCOME' ? 'Recebimento' : 'Pagamento'}}</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true" [showButtonBar]="true">
                </p-calendar>
            </div>

            <div class="col-12 md:col-9 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="description" ngModel #description="ngModel" [required]="true"
                    [minlength]="5">

                <p-message *ngIf="description.hasError('required') && description.touched" severity="error"
                    text="Informe uma descrição"></p-message>

                <p-message *ngIf="description.hasError('minlength') && description.touched" severity="error"
                    text="Mínimo de {{ description.errors?.['minlength'].requiredLength }} caracteres.">
                </p-message>
            </div>

            <div class="col-12 md:col-3 p-fluid">
                <label>Valor</label>

                <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="0,00" [min]="0" ngModel
                    name="value" #value="ngModel" [required]="true">
                </p-inputNumber>

                <p-message *ngIf="value.hasError('required') && value.touched" text="Informe um valor" severity="error">
                </p-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categories" [filter]="true" name="category" ngModel #category="ngModel"
                    [required]="true"></p-dropdown>

                <p-message *ngIf="category.hasError('required') && category.touched" text="Informe uma categoria"
                    severity="error"></p-message>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="persons" [filter]="true" name="person" ngModel #person="ngModel"
                    [required]="true"></p-dropdown>

                <p-message *ngIf="person.hasError('required') && person.touched" text="Informe a pessoa"
                    severity="error"></p-message>
            </div>

            <div class="col-12 p-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3"></textarea>
            </div>

            <div class="col-12">
                <button pButton type="submit" [disabled]="form.invalid">Salvar</button>
                <button pButton type="button" class="p-button-info">Novo</button>
                <a href="#">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>