<div class="container">
    <form>
        <div class="grid">
            <div class="col-12">
                <h1>Novo Lançamento</h1>
            </div>

            <div class="col-12">
                <p-selectButton [options]="types" #type></p-selectButton>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" formControlName="date" [showIcon]="true" [readonlyInput]="true">
                </p-calendar>
            </div>

            <div class="col-6 md:col-3 p-fluid">
                <label>{{type.value === 'INCOME' ? 'Recebimento' : 'Pagamento'}}</label>
                <p-calendar dateFormat="dd/mm/yy" formControlName="date" [showIcon]="true" [readonlyInput]="true">
                </p-calendar>
            </div>

            <div class="col-12 md:col-9 p-fluid">
                <label>Descrição</label>
                <input pInputText type="text" name="description" ngModel #description="ngModel" required minlength="5">
                <!-- <input pInputText type="text" required minlength="5"> -->

                <p-message *ngIf="description.hasError('required') && description.dirty" severity="error"
                    text="Informe uma descrição"></p-message>

                <p-message *ngIf="description.hasError('minlength') && description.dirty" severity="error"
                    text="Mínimo de {{ description.errors?.['minlength'].requiredLength }} caracteres. Você digitou apenas {{ description.errors?.['minlength'].actualLength }}">
                </p-message>
            </div>

            <div class="col-12 md:col-3 p-fluid">
                <label>Valor</label>
                <!-- <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="0,00" [min]="0"></p-inputNumber> -->

                <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="0,00" [min]="0" ngModel
                    name="value" #value="ngModel">
                </p-inputNumber>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Categoria</label>
                <p-dropdown [options]="categories" [filter]="true"></p-dropdown>
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Pessoa</label>
                <p-dropdown [options]="persons" [filter]="true"></p-dropdown>
            </div>

            <div class="col-12 p-fluid">
                <label>Observação</label>
                <textarea pInputTextarea rows="3"></textarea>
            </div>

            <div class="col-12">
                <button pButton type="submit">Salvar</button>
                <button pButton type="button" class="p-button-info">Novo</button>
                <a href="#">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>