<div class="container">
    <div class="p-grid">

        <form (ngSubmit)="fetchPersons()">
            <div class="p-col-12">
                <h1>Pessoas</h1>
            </div>

            <div class="p-col-12 p-fluid mb-4 mr-2">
                <label>Nome</label>
                <input type="text" pInputText name="name" [(ngModel)]="personFilter.name" />
            </div>

            <div class="p-col-12 mt-4 mb-4">
                <button pButton type="submit" label="Pesquisar"></button>
            </div>
        </form>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <p-table [value]="persons" [paginator]="true" [rows]="personFilter.size" [responsive]="true" [lazy]="true"
                (onLazyLoad)="changePage($event)" [totalRecords]="totalElements" #dataTable>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th class="col-actions"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-person>
                    <tr>
                        <td>
                            <span class="p-column-title">Nome</span>
                            {{person.name}}
                        </td>
                        <td>
                            <span class="p-column-title">Cidade</span>
                            {{person.address?.city?? ""}}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            {{person.address?.state?? ""}}
                        </td>
                        <td>
                            <span class="p-column-title">Status</span>
                            <a href="#" [pTooltip]="person.active == true ? 'Inativar' : 'Ativar'">{{person.active ==
                                true
                                ? "Ativo" : "Inativo"}}
                            </a>
                        </td>
                        <td class="col-actions">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                                (click)="delete(person.code)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">
                            Nenhum lançamento encontrado
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>