<div class="container">
    <div class="p-grid">
        <form (ngSubmit)="fetch()">
            <div class="p-col-12">
                <h1>Lançamentos</h1>
            </div>

            <div class="p-col-12 p-fluid mb-4 mr-2">
                <label>Descrição</label>
                <input type="text" pInputText appOnInputFocus name="description" [(ngModel)]="registry.description" />
            </div>

            <div class="p-col-12">
                <label style="display: block;">Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
                    [inputStyle]="{width: '97px'}" name="dueDateFrom" [(ngModel)]="registry.dueDateFrom"
                    [showButtonBar]="true">
                </p-calendar>

                <label class="mr-2 ml-2">Até</label>
                <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [readonlyInput]="true"
                    [inputStyle]="{width: '97px'}" name="dueDateUntil" [(ngModel)]="registry.dueDateUntil"
                    [showButtonBar]="true">
                </p-calendar>
            </div>

            <div class="p-col-12 mt-4 mb-4">
                <button pButton type="submit" label="Pesquisar"></button>
            </div>
        </form>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <app-register-grid [registers]="registers"></app-register-grid>
        </div>
    </div>
</div>