<div class="container">
    <form 
        name="form" 
        ngForm 
        #form="ngForm" 
        (ngSubmit)="save(form)">
        
        <div class="grid">
            <div class="col-12">
                <h1>{{editingCode ? "Edição de" : "Nova"}} Pessoa</h1>
            </div>

            <div class="col-12 p-fluid">
                <label>Nome</label>
                <input 
                    name="name" 
                    pInputText 
                    type="text" 
                    [(ngModel)]="person.name" 
                    #name="ngModel" 
                    [required]="true"
                    [minlength]="5">

                <p-message 
                    *ngIf="name.hasError('required') && name.touched" text="Nome é obrigatório" severity="error">
                </p-message>

                <p-message 
                    *ngIf="name.hasError('minlength') && name.touched" text="Mínimo de {{name.errors?.['minlength'].requiredLength}} caracteres" severity="error">
                </p-message>
            </div>

            <div class="col-12 md:col-4 p-fluid">
                <label>CEP</label>
                <p-inputMask 
                    name="postalCode" 
                    mask="99999-999" 
                    #postalCode="ngModel" 
                    [(ngModel)]="addressPostalCode"
                    (onBlur)="fetchAddress()"
                    >08070500
                </p-inputMask>
            </div>
            
            <div class="col-12 md:col-4 p-fluid">
                <label>Número</label>
                <input 
                    name="num" 
                    pInputText 
                    type="text" 
                    #num="ngModel" 
                    [(ngModel)]="addressNum">
            </div>

            <div class="col-12 md:col-4 p-fluid">
                <label>Complemento</label>
                <input 
                    name="complement" 
                    pInputText 
                    type="text" 
                    #complement="ngModel" 
                    [(ngModel)]="addressComplement">
            </div>

            <div class="col-12 md:col-9 p-fluid">
                <label>Logradouro</label>
                <input 
                    name="street" 
                    pInputText 
                    type="text" 
                    #street="ngModel" 
                    [(ngModel)]="addressStreet"
                    [minlength]="5">

                <p-message 
                    *ngIf="street.hasError('minlength') && street.touched" text="Mínimo de {{street.errors?.['minlength'].requiredLength}} caracteres" severity="error">
                </p-message>
            </div>

            <div class="col-12 md:col-3 p-fluid">
                <label>Bairro</label>
                <input 
                    name="district" 
                    pInputText 
                    type="text" 
                    #district="ngModel" 
                    [(ngModel)]="addressDistrict">
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Estado</label>
                <p-dropdown 
                    [options]="states" 
                    [filter]="true" 
                    name="state" 
                    #state="ngModel" 
                    [required]="true"
                    [(ngModel)]="selectedStateId"
                    (onChange)="fetchCities()" 
                    placeholder="Selecione">
                </p-dropdown>           
            </div>

            <div class="col-12 md:col-6 p-fluid">
                <label>Cidade</label>
                <p-dropdown 
                    [options]="cities" 
                    [filter]="true" 
                    name="city" 
                    #city="ngModel" 
                    [required]="true"
                    [(ngModel)]="selectedCityId" 
                    [disabled]="!selectedStateId"
                    placeholder="Selecione">
                </p-dropdown>
            </div>


            <div class="col-12">
                <app-person-contacts [personContacts]="personContacts"></app-person-contacts>
            </div>

            <div class="col-12">
                <button 
                    pButton 
                    type="submit" 
                    [disabled]="form.invalid">Salvar
                </button>

                <button 
                    pButton 
                    type="button" 
                    class="p-button-info" 
                    (click)="new(form)">Novo
                </button>
                
                <a [routerLink]="['/persons']">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>